@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong&family=Poppins:ital,wght@0,300;0,400;1,300&family=Ubuntu:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #fff;
}
.container {
  position: relative;
  max-width: 900px;
  width: 100%;
  background: #14213d;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 5px #14213d
}
.heading{
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .heading h2{
	font-size: 2.5rem;
	color: #fff;
	text-transform: uppercase;
	padding: 0.4rem 0;
	letter-spacing: 4px;
  }
  .line div{
	margin: 0 0.2rem;
  }
  .line div:nth-child(1),
  .line div:nth-child(3){
	height: 3px;
	width: 70px;
	background: #fff;
	border-radius: 5px;
  }
  .line{
	display: flex;
	align-items: center;
  }
  .line div:nth-child(2){
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
  }
.container .form {
  margin-top: 30px;
}
.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
  }
  .profile-pic input {
    display: none;
  }
  .profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
  }
  .profile-pic .-label {
    cursor: pointer;
    height: 165px;
    width: 165px;
  }
  .profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
  }
  .profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
  }
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #fff;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #fff;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #fca311;
}
.form button:hover {
  background: #fac061;
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
